<!DOCTYPE html>
<html>
	<head>
	  <title>
	  	Datamapper
	  </title>
	  
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing">
		</script>
	  
	  <%= javascript_include_tag 'application' %>
	  

	  <%= csrf_meta_tags %>

    <style>
      html, body, #map-canvas {
        height: 200px;
        width: 200px
        margin: 0px;
        padding: 0px
      }
    </style>
	</head>
	
	<body>
		<%= flash[:notice] if flash[:notice] %>
				
		<%= flash[:alert] if flash[:alert] %>

		<ul>
			<li>
				<%= link_to 'Map!', data_path %>
			</li>

			<% if current_user %>
				<li>
					<%= link_to 'Logout', logout_path, method: :delete %>
				</li>
			<% else %>
				<li>
					<%= link_to 'Home', root_path %>
				</li>
			<% end %>
		</ul>
		
		<%= yield %>
		
		<%= yield :javascript %>

	</body>  
</html>
