<!DOCTYPE html>
<html>
	<head>
	  <title>
	  	Datamapper
	  </title>

		<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>

	  <%= stylesheet_link_tag    'application', media: 'all' %>

		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing">
		</script>

	  <%= javascript_include_tag 'application' %>


	  <%= csrf_meta_tags %>

	</head>

	<body>


		<%= flash[:notice] if flash[:notice] %>

		<%= flash[:alert] if flash[:alert] %>

		<nav>
			<h1>
				Datamapper
			</h1>

			<ul>
				<% if @plots.nil? %>
				<li>
					<%= link_to 'Map!', plots_path %>
				</li>
				<% end %>

				<% if current_user %>
					<li>
						<%= link_to 'Logout', logout_path, method: :delete %>
					</li>
					<% if !@plots.nil? %>
						<li>
							<%= link_to 'Home', root_path %>
						</li>
					<% end %>
				<% end %>
			</ul>
		</nav>

		<%= yield %>

		<%= yield :javascript %>

	</body>
</html>
